/*
Theme Name: Deep Purple
Text Domain: deeppurple
Template: hello-elementor
Version: 1.0
 */

.blue-title{
    color: blue;
}

#header-menu-container li, #region-menu-container li{
    display: inline-block;
}
#header-menu-container li a, #region-menu-container li a{
    color: white;
}
